<div class="panel panel-default">
  <div class="panel-body">
    <h2>University of Utah <br/><small class="text-muted">August 2016 - December 2016</small></h2>
    <p>
    	Teaching Assistant for the Machine Learning class (CS 6350) at the School of Computing. 
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Expedia Inc. <br/><small class="text-muted">May 2016 - August 2016</small></h2>
    <p>
    	Software Engineer for the Expedia Ecommerce Team.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>University of Utah <br/><small class="text-muted">January 2016 - May 2016</small></h2>
    <p>
    	Teaching Assistant for the Algorithms class (CS 4150). Lead 
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>University of Utah <br/><small class="text-muted">August 2015 - December 2015</small></h2>
    <p>
    	Grader for the Mathematics department, grading Intermediate Algebra and Multivariate Calculus.
    </p>
  </div>
</div>